.border-pane {
    -fx-font-family: Arial;
}

.label {
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: rgba(0,0,0,0.08),linear-gradient(#9a9a9a, #909090), linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
    -fx-pref-height: 26px;
    -fx-pref-width: 90px;
}

.tab-pane {
    -fx-tab-min-width:100px;
    -fx-open-tab-animation: grow;
    -fx-close-tab-animation: grow;
}

.splitPane {
    -fx-padding: 0 5;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #333333;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.dialog-pane {
    -fx-spacing: 10;
    -fx-pref-width: 450px;
}

.scroll-bar {
    -fx-opacity: 10;
    -fx-padding: 0;
}

.table-view .column-header .label{
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}

.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center;
  -fx-alignment: CENTER_LEFT;
}

#hbox-header {
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-spacing: 2;
}

#header-label {
     -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#tableStyle {
    -fx-spacing: 5;
}

#itemsTableView {
    -fx-padding: 2;
}

.pagination {
    -fx-padding: 0 5 0 5;
    -fx-page-information-visible: false;
}

.pagination > .pagination-control > .control-box > .number-button:hover, .pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover, .pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

.pagination > .pagination-control > .control-box > .number-button:selected, .pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
}

#btnAdd{
    -fx-background-color: rgba(0,0,0,0.08), linear-gradient(#9a9a9a, #909090), linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
        -fx-background-insets: 0 0 -1 0,0,1;
        -fx-background-radius: 5,5,4;
        -fx-padding: 3 10 3 10;
        -fx-text-fill: #242d35;
        -fx-font-size: 14px;
        -fx-pref-height: 26px;
        -fx-pref-width: 170px;
}

#button-section {
    -fx-spacing: 10px;
}

#customerVBox {
    -fx-padding: 3 10 3 10;
    -fx-spacing: 4;
}

#calculationWindow {
    -fx-padding: 3 5;
    -fx-spacing: 5px;
}

#calculationVBox {
    -fx-padding: 5;
    -fx-spacing: 5;
}

#installmentListView {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
}

#viewInstallmentDialog {
    -fx-padding: 0 10 0 10;
    -fx-spacing: 10;
    -fx-pref-width: 400px;
}

#adminVBox {
     -fx-padding: 30 0 0 50;
     -fx-spacing: 5;
     -fx-pref-width: 200;
 }

 #admin-VBox {
     -fx-padding: 30 0 0 0;
     -fx-spacing: 5;
     -fx-pref-width: 550;
 }

 #backupVBox {
      -fx-padding: 30 0 0 50;
      -fx-spacing: 15;
      -fx-pref-width: 650;
  }

#btnBackupView {
    -fx-background-color: rgba(0,0,0,0.08), linear-gradient(#9a9a9a, #909090), linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
    -fx-pref-height: 26px;
    -fx-pref-width: 150px;
}
